@model MarketASP.Models.DOCU_SERIE_USUARIO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DOCU_SERIE_USUARIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.susuario_dose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.susuario_dose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suser_dose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suser_dose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfech_dose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfech_dose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.susmo_dose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.susmo_dose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfemo_dose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfemo_dose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOCU_SERIE.snumeracion_dose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOCU_SERIE.snumeracion_dose)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
