@model MarketASP.Models.CTAS_PAGAR

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CTAS_PAGAR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ncodeDoc_ctapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ncodeDoc_ctapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sdocu_ctapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdocu_ctapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfecta_ctapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfecta_ctapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfevenci_ctapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfevenci_ctapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.smone_ctapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.smone_ctapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ntotal_ctapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ntotal_ctapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ntotalMN_ctapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ntotalMN_ctapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ntotal_US_ctapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ntotal_US_ctapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ntc_ctapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ntc_ctapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.npago_ctapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.npago_ctapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ncode_letra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ncode_letra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sesta_letra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sesta_letra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suser_ctapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suser_ctapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfech_ctapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfech_ctapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.susmo_ctapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.susmo_ctapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfemo_ctapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfemo_ctapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONFIGURACION.sdesc_confi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONFIGURACION.sdesc_confi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONFIGURACION1.sdesc_confi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONFIGURACION1.sdesc_confi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROVEEDOR.sdesc_prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVEEDOR.sdesc_prove)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
