@model IEnumerable<MarketASP.Models.Receta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rec_descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rec_codclase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rec_codProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rec_cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rec_almacen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rec_tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rec_costoOperativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rec_descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rec_codclase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rec_codProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rec_cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rec_almacen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rec_tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rec_costoOperativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Rec_codigo }) |
            @Html.ActionLink("Details", "Details", new { id=item.Rec_codigo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Rec_codigo })
        </td>
    </tr>
}

</table>
