@model MarketASP.Models.LISTA_PRECIO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LISTA_PRECIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sdesc_lipre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdesc_lipre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nesta_lipre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nesta_lipre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suser_lipre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suser_lipre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfech_lipre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfech_lipre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.susmo_lipre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.susmo_lipre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfemo_lipre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfemo_lipre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ncode_lipre }) |
    @Html.ActionLink("Back to List", "Index")
</p>
