@model IEnumerable<MarketASP.Models.MOVIMIENTO>

@{
    ViewBag.Title = "Lista de Movimientos";
}
<div class="row ptp-titulos">
    <div class="col-md-6 col-sm-6">
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="col-md-6 col-sm-6">
        @Html.ActionLink(" ", "Create", new { }, new { @class = "btn btn-primary glyphicon glyphicon-file", title = "Añadir Movimiento" })
    </div>
</div>
<table class="table table-responsive table-striped">
    <tr>
        <th>
            <label>Serie</label>
        </th>
        <th>
            <label>Número</label>
        </th>
        <th>
            <label>Fecha</label>
        </th>
        <th>
            <label>Moneda</label>
        </th>
        <th>
            <label>TC</label>
        </th>
        <th>
            <label>Activo</label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stipo_movi)
        </th>
        <th>
            <label>Almacen</label>
        </th>
        <th>
            <label>Destino</label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_MOVIMIENTO.sdesc_timovi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sserie_movi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.snume_movi)
        </td>
        <td>
            @string.Format("{0:d}",item.dfemov_movi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.smone_movi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ntc_movi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.besta_movi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stipo_movi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ALMACEN.sdesc_alma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ALMACEN1.sdesc_alma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_MOVIMIENTO.sdesc_timovi)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.ncode_movi }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-pencil", title = "Editar" })
            @Html.ActionLink(" ", "DeleteMovi", new { id = item.ncode_movi }, new { @class = "btn btn-danger btn-sm glyphicon glyphicon-trash", title = "Eliminar", onclick = "return confirm('¿ Seguro de eliminar registro ?');" })
        </td>
    </tr>
    }

</table>
