@model MarketASP.Areas.Administracion.Models.DOCU_SERIE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DOCU_SERIE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.snumeracion_dose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.snumeracion_dose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.susuario_dose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.susuario_dose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sdocumento_dose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdocumento_dose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suser_dose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suser_dose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfech_dose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfech_dose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.susmo_dose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.susmo_dose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfemo_dose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfemo_dose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONFIGURACION.sdesc_confi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONFIGURACION.sdesc_confi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONFIGURACION1.sdesc_confi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONFIGURACION1.sdesc_confi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ncode_dose }) |
    @Html.ActionLink("Back to List", "Index")
</p>
