@model MarketASP.Models.PROVEEDOR

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h5 class="text-center">PROVEEDOR</h5>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.Partial("_Proveedor")
</div>
}

<div>
    @Html.ActionLink(" ", "Index", new { }, new { @class = "btn btn-primary fas fa-hand-point-left", title = "Listado" })
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
