@model IEnumerable<MarketASP.Models.PROVEEDOR>


@{
    ViewBag.Title = "Proveedor";
    ViewBag.pTitle = "Proveedor";
    ViewBag.pageTitle = "Mantenimiento";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <a href="@Url.Action("Create")" class="btn btn-success mb-2"><i class="mdi mdi-plus me-2"></i> Agregar Proveedor</a>
                </div>
                <div class="table-responsive mt-3">
                    <table id="datatable" class="table table-centered datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    Descripción
                                </th>
                                <th>
                                    RUC
                                </th>
                                <th>
                                    Dirección
                                </th>
                                <th>
                                    Teléfono
                                </th>
                                <th>Correo</th>
                                <th>Web</th>
                                <th>
                                    Contacto
                                </th>
                                <th>
                                    Cargo
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sdesc_prove)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sruc_prove)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sdire_prove)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sfono_prove)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.smail_prove)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sweb_prove)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.scontac_prove)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.scargoconta_prove)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nesta_prove)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", new { id = item.ncode_provee })" class="btn btn-success btn-circle btn-sm" title="Edita">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("DeleteProve", new { id = item.ncode_provee })" class="btn btn-danger btn-circle btn-sm" title="Eliminar" onclick="return confirm('¿ Seguro de eliminar registro ?');">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->