@model MarketASP.Models.CLASE

@{
    ViewBag.Title = "Actualizar Clase";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ncode_clase)
    <div class="form-group ptp-subtitulos">
        <div class="col-md-12">
            <h4 class="text-center">@ViewBag.Title</h4>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.sdesc_clase, "Descripción", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sdesc_clase, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sdesc_clase, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ncode_fami, "Familia", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ncode_fami", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ncode_fami, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.nesta_clase, "Activo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBox("nesta_clase")
            @Html.ValidationMessageFor(model => model.nesta_clase, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <input type="submit" value="Actualizar" class="btn btn-block btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink(" ", "Index", new { }, new { @class = "btn btn-primary glyphicon glyphicon-hand-left", title = "Lista de Clases" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
