@model MarketASP.Models.TIPO_CAMBIO

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Tipo Cambio";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>INGRESE TIPO DE CAMBIO</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.dfecha_tc,"Fecha", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="dfecha_tc" value= @string.Format("{0:d}",DateTime.Now) readonly  />
                @Html.ValidationMessageFor(model => model.dfecha_tc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ncompra_tc,"Compra", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ncompra_tc, new { htmlAttributes = new { @class = "form-control", @type = "number", @autofocus = "autofocus", @required="required" } })
                @Html.ValidationMessageFor(model => model.ncompra_tc, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.nventa_tc,"Venta", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.nventa_tc, new { htmlAttributes = new { @class = "form-control", @type = "number", @required = "required" } })
                @Html.ValidationMessageFor(model => model.nventa_tc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
