@model MarketASP.Models.TIPO_CAMBIO

@{
    ViewBag.Title = "Actualizar Tipo de Cambio";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h5 class="h3 mb-0 text-gray-800">@ViewBag.Title</h5>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.dfecha_tc)
        <div class="form-group row">
            <div class="col-md-4">
                    <label for="dfecha_tc" class="col-form-label">Fecha</label>
                    <input name="dfecha_tc" value=@string.Format("{0:d}",DateTime.Now) readonly class="form-control" />
            </div>
            <div class="col-md-4">
                <label for="ncompra_tc" class="col-form-label">Compra</label>
                @*@Html.EditorFor(model => model.ncompra_tc, new { htmlAttributes = new { @class = "form-control", @type = "text", @autofocus = "autofocus", @required = "required", @maxlength = "8" } })*@
                <input id="ncompra_tc" name="ncompra_tc" value=@string.Format("{0:N4}",Model.ncompra_tc) class="form-control" />
                @Html.ValidationMessageFor(model => model.ncompra_tc, "Ingrese TC de Compra", new { @class = "text-danger" })
            </div>
        <div class="col-md-4">
            <label for="nventa_tc" class="col-form-label">Venta</label>
            @*@Html.EditorFor(model => model.nventa_tc, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "required", @maxlength = "8" } })*@
            <input id="nventa_tc" name="nventa_tc" value=@string.Format("{0:N4}",Model.nventa_tc) class="form-control" />
            @Html.ValidationMessageFor(model => model.nventa_tc, "Ingrese TC de Venta", new { @class = "text-danger" })
        </div>
        </div>
<br />
        <div class="form-group row">
            <div class="offset-md-4 col-md-4">
                <input type="submit" value="Actualizar" class="btn btn-block btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(" ", "Index", new { }, new { @class = "btn btn-primary fas fa-hand-point-left", title = "LIsta de Configuración" })
</div>


