@model IEnumerable<MarketASP.Models.TIPO_CAMBIO>

@{
    ViewBag.Title = "Tipo de Cambio";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h5 class="h3 mb-0 text-gray-800">@ViewBag.Title</h5>
    <a href="@Url.Action("Create")" class="btn btn-primary btn-circle btn-sm" title="Añadir Tipo de Cambio">
        <i class="fas fa-file"></i>
    </a>
</div>

<table class="table datatbl table-striped table-responsive-sm">
    <thead class="thead-dark">
        <tr>
            <th>
                Fecha
            </th>
            <th>
                TC Compra
            </th>
            <th>
                TC Venta
            </th>
            <th></th>
        </tr>
</thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(t => t.dfecha_tc))
        {
            <tr>
                <td>
                    @string.Format("{0:d}", item.dfecha_tc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ncompra_tc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nventa_tc)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = String.Format("{0:dd-MM-yyyy}", item.dfecha_tc) })" class="btn btn-success btn-circle btn-sm" title="Edita">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="@Url.Action("DeleteTC", new { id = String.Format("{0:dd-MM-yyyy}", item.dfecha_tc) })" class="btn btn-danger btn-circle btn-sm" title="Eliminar" onclick="return confirm('¿ Seguro de eliminar registro ?');">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
