@model IEnumerable<MarketASP.Models.CTASCO_DETALLE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dfepago_ctacode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sdoc_ctacode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.smone_ctacode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ntc_ctacode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nmonto_ctacode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nvuelto_ctacode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suser_tarjeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.snro_tarjeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sobse_ctacode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suser_ctacode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfech_ctacode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.susmo_ctacode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfemo_ctacode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONFIGURACION.sdesc_confi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONFIGURACION1.sdesc_confi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTA_COBRAR.sdocu_ctaco)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dfepago_ctacode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdoc_ctacode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.smone_ctacode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ntc_ctacode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nmonto_ctacode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nvuelto_ctacode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suser_tarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.snro_tarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sobse_ctacode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suser_ctacode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfech_ctacode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.susmo_ctacode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfemo_ctacode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONFIGURACION.sdesc_confi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONFIGURACION1.sdesc_confi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CTA_COBRAR.sdocu_ctaco)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ncode_ctacode }) |
            @Html.ActionLink("Details", "Details", new { id=item.ncode_ctacode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ncode_ctacode })
        </td>
    </tr>
}

</table>
