@model MarketASP.Models.FAMILIA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FAMILIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sdesc_fami)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdesc_fami)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nesta_fami)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nesta_fami)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suser_fami)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suser_fami)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfech_fami)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfech_fami)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.susmo_fami)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.susmo_fami)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfemo_fami)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfemo_fami)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ncode_fami }) |
    @Html.ActionLink("Back to List", "Index")
</p>
