@model IEnumerable<MarketASP.Models.FAMILIA>

@{
    ViewBag.Title = "FAMILIAS";
}
<div class="row" style="margin-top:5px">
    <div class="col-md-6 col-sm-6">
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="col-md-6 col-sm-6">
        @Html.ActionLink(" ", "Create", new { }, new { @class = "btn btn-primary glyphicon glyphicon-file", title = "Añadir Familia" })
    </div>
</div>
<table class="table table-bordered">
    <tr>
        <th>
            <label>Descripción</label>
        </th>
        <th>
            <label>Activo</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sdesc_fami)
        </td>
        <td>
            <input type="checkbox" checked="@item.nesta_fami" readonly/>
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.ncode_fami }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-pencil", title = "Editar" })
            @Html.ActionLink(" ", "DeleteFami", new { id = item.ncode_fami }, new { @class = "btn btn-danger btn-sm glyphicon glyphicon-trash", title = "Eliminar", onclick = "return confirm('¿ Seguro de eliminar registro ?');" })
        </td>
    </tr>
}

</table>
