@model MarketASP.Models.VENTAS


@{
    ViewBag.Title = "Actualizar Venta";
    ViewBag.pTitle = "Actualizar Venta";
    ViewBag.pageTitle = "Venta";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ncode_venta)
                    @Html.HiddenFor(model => model.ncode_clidire)
                    <input id="cnfdeci" name="cnfdeci" type="hidden" value="@ViewBag.deci" />
                    <input id="cnfigv" name="cnfigv" type="hidden" value="@ViewBag.igv" />
                    <input id="cnficbper" name="cnficbper" type="hidden" value="@ViewBag.icbper" />
                    <input id="poretencion" name="poretencion" type="hidden" value="@ViewBag.poretencion" />

                    @Html.Partial("_Ventas")
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/cliente")
    @Scripts.Render("~/bundles/venta")
<script type="text/javascript">
        var urlGetDocuNumero = '@Url.Action("getDocuNumero", "Funciones",new { area = ""})';
        var urlGetDiasFormaPago = '@Url.Action("getDiasFormaPago", "Funciones",new { area = ""})';
        var urlGetCliente = '@Url.Action("getCliente", "Funciones",new { area = ""})';
        var urlGetRucCliente = '@Url.Action("getRucCliente", "Funciones",new { area = ""})';
        var urlGetDniCliente = '@Url.Action("getDniCliente", "Funciones",new { area = ""})';
        var urlGetClienteDire = '@Url.Action("getClienteDire", "Funciones",new { area = ""})';
        @*var urlClienteNuevo = '@Url.Action("CreateCliente", "Funciones",new { area = ""})';*@
        var urlGetUbigeo = '@Url.Action("getUbigeo", "Funciones")';
        var urlArticulos = '@Url.Action("getMatTabla", "Funciones",new { area = ""})';
        var urlEditar = '@Url.Action("fnnumeroeditar", "Funciones", new { area = "" })';
        var urlventaCrea = '@Url.Action("Edit", "ventas")';
        var urlventaLista = '@Url.Action("index", "ventas")';
var urlgetClienteFoPago = '@Url.Action("getClienteFoPago", "Funciones",new { area = ""})';
    var urlStockValida = '@Url.Action("getStockDisponible", "Funciones",new { area = ""})';
    var urlGetLoteDisponible = '@Url.Action("getLotesDisponible", "Funciones",new { area = ""})';
    var urlGuiaVenta = '@Url.Action("getGuiaVenta", "Funciones")';
    var urlGuiaVentaAsociar = '@Url.Action("getGuiaVentaAsociar", "Funciones")';
var urlcuotaEditar = '@Url.Action("fncadenaeditar", "Funciones", new { area = "" })';
</script>

}
