@model IEnumerable<MarketASP.Models.VENTAS>

@{
    ViewBag.Title = "Consulta de Ventas";
}

<div class="row ptp-titulos">
    <div class="col-md-6 col-sm-6">
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="col-md-6 col-sm-6">
        @Html.ActionLink(" ", "Create", new { }, new { @class = "btn btn-primary glyphicon glyphicon-file", title = "Añadir Venta" })
    </div>
</div>
<table class="table">
    <tr>
        <th>
            Doc.
        </th>
        <th>
            Cliente
        </th>
        <th>
            No Doc.
        </th>
        <th>
            F.Venta
        </th>
        <th>
            F.Vcto
        </th>
        <th>
            TC
        </th>
        <th>
            Obs
        </th>
        <th>
            OC
        </th>
        <th>
            Proforma
        </th>
        <th>
            M
        </th>
        <th>
            Total
        </th>
        <th>
            Activo
        </th>
        <th>
            F.Pago
        </th>
        <th>
            Cancelada
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CONFIGURACION.sdesc_confi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLIENTE.srazon_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sseri_venta) - @Html.DisplayFor(modelItem => item.snume_venta)
            </td>
            <td>
                @string.Format("{0:d}", item.dfeventa_venta)
            </td>
            <td>
                @string.Format("{0:d}", item.dfevenci_venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ntc_venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sobse_venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ncode_compra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ncode_profo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.smone_venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ntotal_venta)
            </td>
            <td>
                @if (item.besta_venta==false)
                {
                    <h5>Anulado</h5>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONFIGURACION1.sdesc_confi)
            </td>
            <td>
                @if (item.bmontocancelado_venta == true)
                {
                    <h5>Cancelado</h5>
                }

            </td>
            <td>
                @if (item.besta_venta == true)
                {
                    @Html.ActionLink(" ", "Edit", new { id = item.ncode_venta }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-pencil", title = "Editar" })
                    @Html.ActionLink(" ", "anulaVenta", new { id = item.ncode_venta }, new { @class = "btn btn-danger btn-sm glyphicon glyphicon-thumbs-down", title = "Anular", onclick = "return confirm('¿ Seguro de anular registro ?');" })
                    @Html.ActionLink(" ", "DeleteVenta", new { id = item.ncode_venta }, new { @class = "btn btn-danger btn-sm glyphicon glyphicon-trash", title = "Eliminar", onclick = "return confirm('¿ Seguro de eliminar registro ?');" })
                }
            </td>
        </tr>
    }

</table>
