@model MarketASP.Models.CTASPA_DETALLE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CTASPA_DETALLE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dfepago_ctapade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfepago_ctapade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.smone_ctapade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.smone_ctapade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ntc_ctapade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ntc_ctapade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nmonto_ctapade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nmonto_ctapade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sobse_ctapade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sobse_ctapade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nvuelto_ctapade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nvuelto_ctapade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suser_ctapade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suser_ctapade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfech_ctapade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfech_ctapade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.susmo_ctapade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.susmo_ctapade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfemo_ctapade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfemo_ctapade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suser_tarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suser_tarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.snro_tarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.snro_tarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONFIGURACION.sdesc_confi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONFIGURACION.sdesc_confi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONFIGURACION1.sdesc_confi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONFIGURACION1.sdesc_confi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTAS_PAGAR.sdocu_ctapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTAS_PAGAR.sdocu_ctapa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ncode_ctapade }) |
    @Html.ActionLink("Back to List", "Index")
</p>
