@model MarketASP.Models.PROVEEDOR

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PROVEEDOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sdesc_prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdesc_prove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sdire_prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdire_prove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sruc_prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sruc_prove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sfono_prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sfono_prove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sfax_prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sfax_prove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.smail_prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.smail_prove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sobse_prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sobse_prove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sweb_prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sweb_prove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scontac_prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scontac_prove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nesta_prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nesta_prove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scargoconta_prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scargoconta_prove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bprocedencia_prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bprocedencia_prove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suser_prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suser_prove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfech_prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfech_prove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.susmo_prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.susmo_prove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfemo_prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfemo_prove)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
