@model MarketASP.Models.ART_PROVE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ART_PROVE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.suser_arprove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suser_arprove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfech_arprove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfech_arprove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.susmo_arprove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.susmo_arprove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfemo_arprove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfemo_arprove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARTICULO.sdesc1_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARTICULO.sdesc1_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROVEEDOR.sdesc_prove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVEEDOR.sdesc_prove)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ncode_arprove }) |
    @Html.ActionLink("Back to List", "Index")
</p>
