@model IEnumerable<MarketASP.Models.Pr_PedidoConsultaDetallada_Result>

@{
    ViewBag.Title = "Consulta Detallada";
    ViewBag.pTitle = "Consulta Detallada";
    ViewBag.pageTitle = "Orden de Pedido";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive mt-3">
                    <table id="datatable" class="table table-centered datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Documento
                                </th>
                                <th>
                                    Articulo
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    Precio
                                </th>
                                <th>
                                    Vendedor
                                </th>
                                <th>Almacen</th>
                            </tr>
</thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fecha)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.documento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sdesc1_arti)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ncant_orpedeta)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.npu_orpedeta)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sdesc_vende)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sdesc_alma)
                                    </td>
                                </tr>
                            }
                        </tbody>
</table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->