@model MarketASP.Models.ORDEN_PEDIDOS

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-3.6.4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <title>Orden de Pedido</title>

</head>
<body>
    <div class="table-responsive">
        <table class="table table-centered datatable dt-responsive nowrap " style="border-color:white; border-collapse: collapse; border-spacing: 0; width: 100%;">
            <tr>
                <th>
                    <img class="img-responsive" src="@Url.Content("~/Content/images/logo-light.png")" alt="logo" width="150" />
                </th>
                <td>
                    <h4 style="text-align:left">ANIMAL PHARM S.A.</h4>
                    <h4 style="text-align:left">CAL. DOS NRO. 199 URB. CORPAC. LIMA - LIMA - SAN ISIDRO</h4>
                    <h4 style="text-align:left">SAN ISIDRO-LIMA-LIMA</h4>
                </td>
                <td>
                    <h4 style="text-align:center">ORDEN DE PEDIDO</h4>
                    <h4 style="text-align:center">@string.Concat(Model.sseri_orpe, "-", Model.snume_orpe)</h4>
                </td>
            </tr>
        </table>
        </div>
        <div class="table-responsive">
            <table class="table table-centered datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <tr>
                    <th>RUC</th>
                    <td>@Html.DisplayFor(model => model.CLIENTE.sruc_cliente, new { htmlAttributes = new { @class = "form-control" } })</td>
                    <th>Fecha de Emisión</th>
                    <td>@string.Format("{0:d}", Model.dfeorpeo_orpe)</td>
                </tr>
                <tr>
                    <th>Sres</th>
                    <td>@Html.DisplayFor(model => model.CLIENTE.srazon_cliente, new { htmlAttributes = new { @class = "form-control" } })</td>
                    <th>Entrega</th>
                    <td>
                        @if (Model.bventa_orpe == 0)
                        {
                            <div class="badge badge-soft-warning font-size-12">Pendiente</div>
                        }
                        else if (Model.bventa_orpe == 1)
                        {
                            <div class="badge badge-soft-primary font-size-12">Parcial</div>
                        }
                        else
                        {
                            <div class="badge badge-soft-success font-size-12">Total</div>
                        }
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="table-responsive">
                                <table class="table table-centered datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Código</th>
                                            <th>
                                                Descripción
                                            </th>
                                            <th>
                                                U.M
                                            </th>
                                            <th>
                                                Cantidad
                                            </th>
                                            <th>
                                                Valor Uni
                                            </th>
                                            <th>
                                                Valor venta
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ORDEN_PEDIDOS_DETALLE)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ARTICULO.scode_arti)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ARTICULO.sdesc1_arti)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ARTICULO.UMEDIDA.sdesc_umed)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ncant_orpedeta)
                                                </td>
                                                <td>
                                                    @string.Format("{0:N4}", item.npu_orpedeta)
                                                </td>
                                                <td>
                                                    @string.Format("{0:N4}", item.nsubt_orpedeta)
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="5">Total:</td>
                                            <td>@Model.smone_orpe  @string.Format("{0:N4}", Model.ntotal_orpe)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>



