@model MarketASP.Areas.Administracion.Models.Ventana

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ventana</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Menu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Nivel }) |
    @Html.ActionLink("Back to List", "Index")
</p>
