@model IEnumerable<MarketASP.Areas.Administracion.Models.Ventana>

@{
    ViewBag.Title = "Menues y Operaciones";
}

<div class="row ptp-titulos">
    <div class="col-md-6 col-sm-6">
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="col-md-6 col-sm-6">
        @Html.ActionLink(" ", "Create", new { }, new { @class = "btn btn-primary glyphicon glyphicon-file", title = "Añadir Clase" })
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Menu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operacion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Menu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operacion)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.Nivel }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-pencil", title = "Editar" })
                @Html.ActionLink(" ", "DeleteNivel", new { id = item.Nivel }, new { @class = "btn btn-danger btn-sm glyphicon glyphicon-trash", title = "Eliminar", onclick = "return confirm('¿ Seguro de eliminar registro ?');" })
            </td>
        </tr>
    }

</table>
