@model IEnumerable<MarketASP.Models.CLI_DIRE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sdesc_clidire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENTE.srazon_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UBIGEO.sdepa_ubigeo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sdesc_clidire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENTE.srazon_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UBIGEO.sdepa_ubigeo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ncode_clidire }) |
            @Html.ActionLink("Details", "Details", new { id=item.ncode_clidire }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ncode_clidire })
        </td>
    </tr>
}

</table>
