@model IEnumerable<MarketASP.Models.CTA_COBRAR>

@{
    ViewBag.Title = "Consultar";
    ViewBag.pTitle = "Consultar";
    ViewBag.pageTitle = "Cuentas x Cobrar";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive mt-3">
                    <table id="datatable" class="table table-centered datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    Cod.Doc
                                </th>
                                <th>
                                    Cliente
                                </th>
                                <th>
                                    Tipo.Doc
                                </th>
                                <th>
                                    Num.Doc
                                </th>
                                <th>
                                    F.Doc
                                </th>
                                <th>
                                    F.Venc
                                </th>
                                <th>
                                    M
                                </th>
                                <th>
                                    Monto
                                </th>
                                <th>
                                    Pago
                                </th>
                                @*<th>
                        Letra
                    </th>
                    <th>
                        Cond.Letra
                    </th>*@
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ncodeDoc_ctaco)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CLIENTE.srazon_cliente)
                                    </td>
                                    <td>
                                        @Html.ActionLink(item.CONFIGURACION.sdesc_confi, "Details", new { id = item.ncode_ctaco })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sdocu_ctaco)
                                    </td>
                                    <td>
                                        @string.Format("{0:d}", item.dfecta_ctaco)
                                    </td>
                                    <td>
                                        @string.Format("{0:d}", item.dfevenci_ctaco)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.smone_ctaco)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ntotal_ctaco)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.npago_ctaco)
                                    </td>
                                    @*<td>
                            @Html.DisplayFor(modelItem => item.ncode_letra)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sesta_letra)
                        </td>*@
                                    <td>
                                        @if ((item.ntotal_ctaco - item.npago_ctaco) > 0)
                                        {
                                            @Html.ActionLink(" ", "CreateCobro", new { id = item.ncode_ctaco, xtipo = "CtaCo" }, new { @class = "btn btn-primary fas fa-credit-card", title = "Cobrar Cta" })
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
    </div>
</div>
<!-- end row -->