@model MarketASP.Models.ART_BARRA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ART_BARRA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sdesc_barra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdesc_barra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nesta_barra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nesta_barra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suser_barra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suser_barra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfech_barra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfech_barra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.susmo_barra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.susmo_barra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfemo_barra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfemo_barra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARTICULO.sdesc1_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARTICULO.sdesc1_arti)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ncode_barra }) |
    @Html.ActionLink("Back to List", "Index")
</p>
