@model IEnumerable<MarketASP.Models.ART_BARRA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sdesc_barra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nesta_barra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suser_barra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfech_barra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.susmo_barra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfemo_barra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ARTICULO.sdesc1_arti)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sdesc_barra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nesta_barra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suser_barra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfech_barra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.susmo_barra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfemo_barra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ARTICULO.sdesc1_arti)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ncode_barra }) |
            @Html.ActionLink("Details", "Details", new { id=item.ncode_barra }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ncode_barra })
        </td>
    </tr>
}

</table>
