@model IEnumerable<MarketASP.Models.MOVI_DETALLE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ncant_movidet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.npu_movidet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suser_movidet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfech_movidet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.susmo_movidet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfemo_movidet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ARTICULO.sdesc1_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOVIMIENTO.smone_movi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ncant_movidet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.npu_movidet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suser_movidet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfech_movidet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.susmo_movidet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfemo_movidet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ARTICULO.sdesc1_arti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOVIMIENTO.smone_movi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ncode_movidet }) |
            @Html.ActionLink("Details", "Details", new { id=item.ncode_movidet }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ncode_movidet })
        </td>
    </tr>
}

</table>
