@model MarketASP.Models.CTA_COBRAR

@{
    ViewBag.Title = "Cobros Registrados";
}

<div class="row ptp-subtitulos">
    <div class="col-md-6 col-sm-6">
        <h4>@ViewBag.Title @Model.CONFIGURACION.sdesc_confi @Model.sdocu_ctaco</h4>
    </div>
    <div class="col-md-6 col-sm-6">
        @Html.ActionLink(" ", "CreateCobro", new { id = Model.ncode_ctaco }, new { @class = "btn btn-primary glyphicon glyphicon-file", title = "Añadir Cobro" })
    </div>
</div>
@if (Model.CTASCO_DETALLE.Count == 0)
{
    <h4>No se han registrado Cobros para esta Cuenta</h4>
}
else
{
    <table class="table table-striped">
        <tr>
            <th>Tipo</th>
            <th>
                F.Pago
            </th>
            <th>
                M
            </th>
            <th>
                Monto
            </th>
            <th>
                TC
            </th>
            <th>
                Vuelto MN
            </th>
            <th>
                Usuario Tarjeta
            </th>
            <th>
                Nro Tarjeta
            </th>
            <th>
                Observacion
            </th>
            <th></th>
        </tr>

        @foreach (var itemp in Model.CTASCO_DETALLE)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => itemp.CONFIGURACION1.sdesc_confi)
                </td>
                <td>
                    @string.Format("{0:d}", itemp.dfepago_ctacode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemp.smone_ctacode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemp.nmonto_ctacode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemp.ntc_ctacode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemp.nvuelto_ctacode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemp.suser_tarjeta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemp.snro_tarjeta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemp.sobse_ctacode)
                </td>
                <td>
                    @Html.ActionLink(" ", "DeleteCobro", new { id = itemp.ncode_ctacode }, new { @class = "btn btn-danger btn-sm glyphicon glyphicon-trash", title = "Eliminar", onclick = "return confirm('¿ Seguro de eliminar registro ?');" })
                </td>
            </tr>
        }

    </table>
}
<div>
    @Html.ActionLink(" ", "Index", new { }, new { @class = "btn btn-primary glyphicon glyphicon-hand-left", title = "Lista de Ctas x Cobrar" })
</div>

