@model IEnumerable<MarketASP.Models.CTA_COBRAR>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ncodeDoc_ctaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sdocu_ctaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfecta_ctaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.smone_ctaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ntotal_ctaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfevenci_ctaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ntc_ctaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ntotalMN_ctaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ntotalUS_ctaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.npago_ctaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ncode_letra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sesta_letra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suser_ctaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfech_ctaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.susmo_ctaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfemo_ctaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENTE.srazon_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONFIGURACION.sdesc_confi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ncodeDoc_ctaco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdocu_ctaco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfecta_ctaco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.smone_ctaco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ntotal_ctaco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfevenci_ctaco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ntc_ctaco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ntotalMN_ctaco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ntotalUS_ctaco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.npago_ctaco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ncode_letra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sesta_letra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suser_ctaco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfech_ctaco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.susmo_ctaco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfemo_ctaco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENTE.srazon_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONFIGURACION.sdesc_confi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ncode_ctaco }) |
            @Html.ActionLink("Details", "Details", new { id=item.ncode_ctaco }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ncode_ctaco })
        </td>
    </tr>
}

</table>
