@model MarketASP.Models.VENTA_DETALLE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VENTA_DETALLE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ncant_vedeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ncant_vedeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.npu_vedeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.npu_vedeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ndscto_vedeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ndscto_vedeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ndscto2_vedeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ndscto2_vedeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nexon_vedeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nexon_vedeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nafecto_vedeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nafecto_vedeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.besafecto_vedeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.besafecto_vedeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ndsctomax_vedeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ndsctomax_vedeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ndsctomin_vedeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ndsctomin_vedeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ndsctoporc_vedeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ndsctoporc_vedeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALMACEN.sdesc_alma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALMACEN.sdesc_alma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARTICULO.sdesc1_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARTICULO.sdesc1_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VENTAS.sseri_venta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VENTAS.sseri_venta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ncode_vedeta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
