@model MarketASP.Models.UBIGEO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UBIGEO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sdepa_ubigeo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdepa_ubigeo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sprovi_ubigeo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sprovi_ubigeo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sdistri_ubigeo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdistri_ubigeo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.scode_ubigeo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
