@model IEnumerable<MarketASP.Models.UBIGEO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sdepa_ubigeo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sprovi_ubigeo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sdistri_ubigeo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sdepa_ubigeo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sprovi_ubigeo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdistri_ubigeo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.scode_ubigeo }) |
            @Html.ActionLink("Details", "Details", new { id=item.scode_ubigeo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.scode_ubigeo })
        </td>
    </tr>
}

</table>
