@model IEnumerable<MarketASP.Models.TIPO_MOVIMIENTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sdesc_timovi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.binout_tipomovi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.btransf_tipomovi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.besta_tipomovi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sdesc_timovi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.binout_tipomovi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.btransf_tipomovi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.besta_tipomovi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ncode_timovi }) |
            @Html.ActionLink("Details", "Details", new { id=item.ncode_timovi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ncode_timovi })
        </td>
    </tr>
}

</table>
