<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Market</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    @RenderSection("styles", false)
    @Styles.Render("~/Content/css/css")
    @Styles.Render("~/Content/librerias/css")
    @Styles.Render("~/Content/DataTables/css/css")
    <!--@Styles.Render("~/Content/css")-->

</head>
<body data-sidebar="dark">
    <!-- Begin page -->
    <div id="layout-wrapper">
        @Html.Partial("~/Views/Shared/_topbar.cshtml")
        @Html.Partial("~/Views/Shared/_sidebar.cshtml")

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->

        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">

                    @Html.Partial("~/Views/Shared/_page_title.cshtml")

                    @RenderBody()

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            @Html.Partial("~/Views/Shared/_footer.cshtml")

        </div>
        <!-- end main content-->

    </div>

    @*@RenderSection("externalhtml", required: false)*@

    <!-- END layout-wrapper -->
    @Html.Partial("~/Views/Shared/_right_sidebar.cshtml")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/assets")
    @Scripts.Render("~/bundles/tablas")
    @Scripts.Render("~/bundles/desarrollo")
    @RenderSection("scripts", required: false)
</body>

</html>