@model MarketASP.Models.ORDEN_PEDIDOS

@{
    ViewBag.Title = "Detalles";
    ViewBag.pTitle = "Detalles";
    ViewBag.pageTitle = "Orden de Pedido";
}

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="@Url.Action("Index")" class="btn btn-success mb-2"><i class="mdi mdi-plus me-2"></i>Volver</a>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="example-text-input" class="col-form-label">Activo</label>
                                        <div>
                                            @if (Model.besta_orpe == false)
                                            {
                                                <div class="badge badge-soft-warning font-size-12">No</div>
                                            }
                                            else
                                            {
                                                <div class="badge badge-soft-success font-size-12">Si</div>
                                            }
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="example-text-input" class="col-form-label">Entrega</label>
                                        <div>
                                            @if (Model.bventa_orpe == 0)
                                            {
                                                <div class="badge badge-soft-warning font-size-12">Pendiente</div>
                                            }
                                            else if (Model.bventa_orpe == 1)
                                            {
                                                <div class="badge badge-soft-primary font-size-12">Parcial</div>
                                            }
                                            else
                                            {
                                                <div class="badge badge-soft-success font-size-12">Total</div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div class="mb-3">
                                        <label for="example-text-input" class="col-form-label">Fecha</label>
                                        <div>
                                            @string.Format("{0:d}", Model.dfeorpeo_orpe)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="mb-3">
                                        <label for="example-text-input" class="col-form-label">Documento</label>
                                        <div>
                                            @string.Concat(Model.sseri_orpe, "-", Model.snume_orpe)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="mb-3">
                                        <label for="example-text-input" class="col-form-label">Cliente</label>
                                        <div>
                                            @Html.DisplayFor(model => model.CLIENTE.srazon_cliente, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3">
                                        <label for="example-text-input" class="col-form-label">Total</label>
                                        <div>
                                            @Model.smone_orpe  @string.Format("{0:N2}", Model.ntotal_orpe)
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="table-responsive">
                                <table class="table table-centered datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>
                                                Articulo
                                            </th>
                                            <th>
                                                Ctdad
                                            </th>
                                            <th>
                                                Ctdad Entr.
                                            </th>
                                            <th>
                                                Ctdad Pend.
                                            </th>
                                            <th>U.M</th>
                                            <th>
                                                Precio
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ORDEN_PEDIDOS_DETALLE)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ARTICULO.sdesc1_arti)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ncant_orpedeta)
                                                </td>
                                                <td>
                                                    @{
                                                        decimal xdespacho = 0;
                                                        xdespacho = (decimal)item.ncant_orpedeta - (decimal)item.ncantventa_orpedeta;
                                                    }

                                                    @string.Format("{0:N2}", xdespacho)

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ncantventa_orpedeta)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ARTICULO.UMEDIDA.ssunat_umed)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.npu_orpedeta)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
