@model MarketASP.Models.CONFIGURACION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CONFIGURACION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sdesc_confi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdesc_confi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.svalor_confi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.svalor_confi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.besta_confi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.besta_confi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ntipo_confi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ntipo_confi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ncode_confi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
