@model IEnumerable<MarketASP.Models.CONFIGURACION>

@{
    ViewBag.Title = "Configuracion General";
}

<div class="row ptp-titulos">
    <div class="col-md-6 col-sm-6">
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="col-md-6 col-sm-6">
        @Html.ActionLink(" ", "Create", new { }, new { @class = "btn btn-primary glyphicon glyphicon-file", title = "Añadir Configuracion" })
    </div>
</div>

<table class="table table-striped">
    <tr>
        <th>Cod.</th>
        <th>
            Tipo
        </th>
        <th>
            Descripción
        </th>
        <th>
            Valor
        </th>
        <th>
            Activo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderBy(t => t.ntipo_confi))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ntipo_confi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stipo_confi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdesc_confi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.svalor_confi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.besta_confi)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.ncode_confi }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-pencil", title = "Editar" })
        </td>
    </tr>
    }

</table>
