@model MarketASP.Models.ALMACEN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ALMACEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sdesc_alma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdesc_alma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.besta_alma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.besta_alma)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ncode_alma }) |
    @Html.ActionLink("Back to List", "Index")
</p>
