@model MarketASP.Models.CLIENTE

@{
    ViewBag.Title = "Detalles";
    ViewBag.pTitle = "Detalles";
    ViewBag.pageTitle = "Clientes";
}
<div class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-pills nav-justified" role="tablist">
        <li class="nav-item waves-effect waves-light">
            <a class="nav-link active" data-bs-toggle="tab" href="#home-1" role="tab">
                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                <span class="d-none d-sm-block">Datos</span>
            </a>
        </li>
        <li class="nav-item waves-effect waves-light">
            <a class="nav-link" data-bs-toggle="tab" href="#profile-1" role="tab">
                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                <span class="d-none d-sm-block">Direcciones</span>
            </a>
        </li>
        <li class="nav-item waves-effect waves-light">
            <a class="nav-link" data-bs-toggle="tab" href="#barra-1" role="tab">
                <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                <span class="d-none d-sm-block">Forma Pago</span>
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content p-3 text-muted">
        <div class="tab-pane active" id="home-1" role="tabpanel">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="mb-0">
                                <strong>Razon Social : </strong>@Html.DisplayFor(model => model.srazon_cliente) <br />
                                <strong>RUC : </strong>@Html.DisplayFor(model => model.sruc_cliente) <br />
                                <strong>DNI/CE : </strong>@Html.DisplayFor(model => model.sdnice_cliente) <br />
                                <strong>Teléfono : </strong>@Html.DisplayFor(model => model.sfono1_cliente) <br />
                                <strong>Teléfono : </strong>@Html.DisplayFor(model => model.sfono2_cliente) <br />
                                <strong>Teléfono : </strong>@Html.DisplayFor(model => model.sfono3_cliente) <br />
                                <strong>Fax : </strong>@Html.DisplayFor(model => model.sfax_cliente) <br />
                                <strong>Correo : </strong>@Html.DisplayFor(model => model.smail_cliente) <br />
                                <strong>Correo : </strong>@Html.DisplayFor(model => model.smail2_cliente) <br />
                                <strong>Página : </strong>@Html.DisplayFor(model => model.sweb_cliente) <br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="mb-0">
                                <strong>Doc.Pago : </strong>@Html.DisplayFor(model => model.CONFIGURACION2.sdesc_confi) <br />
                                <strong>Linea Crédito : </strong>@Html.DisplayFor(model => model.slineacred_cliente) <br />
                                <strong>R.Legal : </strong>@Html.DisplayFor(model => model.srepre_cliente) <br />
                                <strong>Observación : </strong>@Html.DisplayFor(model => model.sobse_cliente) <br />
                                <strong>Extrajero : </strong>@Html.CheckBox("bprocedencia_cliente") <br />
                                <strong>Retención : </strong>@Html.CheckBox("bretencion_cliente") <br />
                                <strong>Vendedor : </strong>@ViewBag.encargado <br />
                                <strong>Zona : </strong>@ViewBag.zona <br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <div class="tab-pane" id="profile-1" role="tabpanel">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <a href="@Url.Action("CreateDireccion", new { id = Model.ncode_cliente })" class="btn btn-success mb-2"><i class="mdi mdi-plus me-2"></i> Agregar Direccion</a>
                            </div>
                            @if (Model.CLI_DIRE.Count == 0)
                            {
                                <h6 class="m-0 font-weight-bold text-primary">No se han registrado direcciones</h6>
                            }
                            else
                            {
                                <table class="table table-striped table-responsive-sm">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>
                                                Descripción
                                            </th>
                                            <th>
                                                Ubicación
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itemx in Model.CLI_DIRE)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => itemx.sdesc_clidire)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => itemx.UBIGEO.sdistri_ubigeo)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("EditDire", new { id = itemx.ncode_clidire })" class="btn btn-success btn-circle btn-sm" title="Edita">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a href="@Url.Action("DeleteDire", new { id = itemx.ncode_clidire })" class="btn btn-danger btn-circle btn-sm" title="Eliminar" onclick="return confirm('¿ Seguro de eliminar registro ?');">
                                                        <i class="fas fa-trash"></i>
                                                    </a>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            }

                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <div class="tab-pane" id="barra-1" role="tabpanel">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <a href="@Url.Action("Createfopago", new { id = Model.ncode_cliente })" class="btn btn-success mb-2"><i class="mdi mdi-plus me-2"></i> Agregar Cod.Barra</a>
                            </div>
                            @if (Model.CLI_FOPAGO.Count == 0)
                            {
                                <h6 class="m-0 font-weight-bold text-primary">No se han registrado formas de pago</h6>
                            }
                            else
                            {
                                <table class="table table-striped table-responsive-sm">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>
                                                Descripción
                                            </th>
                                            <th>
                                                Ubicación
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itemx in Model.CLI_FOPAGO)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => itemx.CONFIGURACION.sdesc_confi)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Editfopago", new { id = itemx.ncode_clifo })" class="btn btn-success btn-circle btn-sm" title="Edita">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a href="@Url.Action("Deletefopago", new { id = itemx.ncode_clifo })" class="btn btn-danger btn-circle btn-sm" title="Eliminar" onclick="return confirm('¿ Seguro de eliminar registro ?');">
                                                        <i class="fas fa-trash"></i>
                                                    </a>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
    </div>
    <div>
        @Html.ActionLink(" ", "Index", new { }, new { @class = "btn btn-primary fas fa-hand-point-left", title = "Lista de Clientes" })
    </div>
