@model MarketASP.Models.CLIENTE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CLIENTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.srazon_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.srazon_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sruc_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sruc_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sdnice_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdnice_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sfono1_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sfono1_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sfax_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sfax_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slineacred_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slineacred_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.srepre_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.srepre_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.smail_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.smail_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sweb_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sweb_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sobse_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sobse_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sfono2_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sfono2_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sfono3_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sfono3_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sappa_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sappa_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sapma_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sapma_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.snomb_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.snomb_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bprocedencia_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bprocedencia_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suser_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suser_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfech_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfech_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.susmo_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.susmo_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfemo_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfemo_cliente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ncode_cliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
