@model IEnumerable<MarketASP.Models.CLIENTE>

@{
    ViewBag.Title = "Clientes";
}

<div class="row" style="margin-top:5px">
    <div class="col-md-6 col-sm-6">
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="col-md-6 col-sm-6">
        @Html.ActionLink(" ", "Create", new { }, new { @class = "btn btn-primary glyphicon glyphicon-file", title = "Añadir Cliente" })
    </div>
</div>
<table class="table">
    <tr>
        <th>
            <label>Razón Social</label>
        </th>
        <th>
            <label>RUC</label>
        </th>
        <th>
            <label>DNI/CE</label>
        </th>
        <th>
            <label>Nombre</label>
        </th>
        <th>
            <label>A.Paterno</label>
        </th>
        <th>
            <label>A.Materno</label>
        </th>
        <th>
            <label>Telf.</label>
        </th>
        <th>
            <label>Correo</label>
        </th>
        <th>
            <label>Web</label>
        </th>
        <th>
            <label>J/N</label>
        </th>
        <th>
            <label>Extranjero</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.srazon_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sruc_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sdnice_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.snomb_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sappa_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sapma_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sfono1_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.smail_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sweb_cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stipo_cliente)
            </td>
            <td>
                <input type="checkbox" checked="@item.bprocedencia_cliente" readonly />
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.ncode_cliente }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-pencil", title = "Editar" })
                @Html.ActionLink(" ", "DeleteCliente", new { id = item.ncode_cliente }, new { @class = "btn btn-danger btn-sm glyphicon glyphicon-trash", title = "Eliminar", onclick = "return confirm('¿ Seguro de eliminar registro ?');" })
            </td>
        </tr>
    }

</table>
