@model IEnumerable<MarketASP.Models.Pr_ClienteListado_Result>

@{
    ViewBag.Title = "Clientes";
    ViewBag.pTitle = "Clientes";
    ViewBag.pageTitle = "Mantenimiento";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <a href="@Url.Action("Create")" class="btn btn-success mb-2"><i class="mdi mdi-plus me-2"></i> Agregar Cliente</a>
                </div>
                <div class="table-responsive mt-3">
                    <table id="datatable" class="table table-centered datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead class="thead-light">
                            <tr>
                                <th>Cod</th>
                                <th>
                                    Razón Social
                                </th>
                                <th>RUC</th>
                                <th>
                                    DNI/CE
                                </th>
                                <th>Vendedor</th>
                                <th>Zona</th>
                                <th>Almacen</th>
                                <th>Activo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ncode_cliente)
                                </td>
                                <td>
                                    @Html.ActionLink(item.srazon_cliente, "Details", new { id = item.ncode_cliente })

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sruc_cliente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sdnice_cliente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sdesc_vende)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sdesc_zona)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sdesc_alma)
                                </td>
                                <td>
                                    @if (item.bacti_cliente == false)
                                    {
                                        <div class="badge badge-soft-warning font-size-12">No</div>
                                    }
                                    else
                                    {
                                        <div class="badge badge-soft-success font-size-12">Si</div>
                                    }
                                </td>
                                <td id="tooltip-container3">
                                    <a href="@Url.Action("Edit", new { id = item.ncode_cliente })" class="me-3 text-primary" data-bs-container="#tooltip-container3" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="@Url.Action("DeleteCliente", new { id = item.ncode_cliente })" class="text-danger" data-bs-container="#tooltip-container3" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="mdi mdi-trash-can font-size-18"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->