@model MarketASP.Models.PROFORMAS

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PROFORMAS</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ncode_prof)

        <div class="form-group">
            @Html.LabelFor(model => model.ncode_docu, "ncode_docu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ncode_docu", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ncode_docu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sseri_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sseri_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sseri_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.snume_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.snume_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.snume_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dfeprofo_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dfeprofo_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dfeprofo_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dfevenci_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dfevenci_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dfevenci_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ncode_cliente, "ncode_cliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ncode_cliente", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ncode_cliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ncode_clidire, "ncode_clidire", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ncode_clidire", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ncode_clidire, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.smone_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.smone_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.smone_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ntc_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ntc_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ntc_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ncode_fopago, "ncode_fopago", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ncode_fopago", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ncode_fopago, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sobse_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sobse_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sobse_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ncode_compra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ncode_compra, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ncode_compra, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nbrutoex_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nbrutoex_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nbrutoex_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nbrutoaf_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nbrutoaf_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nbrutoaf_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ndctoex_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ndctoex_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ndctoex_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ndsctoaf_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ndsctoaf_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ndsctoaf_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nsubex_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nsubex_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nsubex_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nsubaf_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nsubaf_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nsubaf_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nigvex_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nigvex_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nigvex_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nigvaf_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nigvaf_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nigvaf_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ntotaex_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ntotaex_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ntotaex_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ntotaaf_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ntotaaf_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ntotaaf_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ntotal_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ntotal_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ntotal_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ntotalMN_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ntotalMN_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ntotalMN_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ntotalUs_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ntotalUs_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ntotalUs_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.besta_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.besta_prof)
                    @Html.ValidationMessageFor(model => model.besta_prof, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nvalIGV_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nvalIGV_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nvalIGV_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.suser_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.suser_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.suser_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dfech_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dfech_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dfech_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.susmo_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.susmo_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.susmo_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dfemo_prof, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dfemo_prof, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dfemo_prof, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ncode_alma, "ncode_alma", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ncode_alma", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ncode_alma, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ncode_local, "ncode_local", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ncode_local", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ncode_local, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
