@model IEnumerable<MarketASP.Models.PROFORMAS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sseri_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.snume_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfeprofo_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfevenci_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.smone_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ntc_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sobse_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ncode_compra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nbrutoex_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nbrutoaf_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ndctoex_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ndsctoaf_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nsubex_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nsubaf_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nigvex_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nigvaf_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ntotaex_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ntotaaf_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ntotal_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ntotalMN_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ntotalUs_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.besta_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nvalIGV_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.suser_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfech_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.susmo_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dfemo_prof)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ALMACEN.sdesc_alma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLI_DIRE.sdesc_clidire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENTE.srazon_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONFIGURACION.sdesc_confi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONFIGURACION1.sdesc_confi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOCAL.sdesc_local)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sseri_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.snume_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfeprofo_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfevenci_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.smone_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ntc_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sobse_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ncode_compra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nbrutoex_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nbrutoaf_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ndctoex_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ndsctoaf_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nsubex_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nsubaf_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nigvex_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nigvaf_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ntotaex_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ntotaaf_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ntotal_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ntotalMN_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ntotalUs_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.besta_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nvalIGV_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.suser_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfech_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.susmo_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dfemo_prof)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ALMACEN.sdesc_alma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLI_DIRE.sdesc_clidire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENTE.srazon_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONFIGURACION.sdesc_confi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONFIGURACION1.sdesc_confi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOCAL.sdesc_local)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ncode_prof }) |
            @Html.ActionLink("Details", "Details", new { id=item.ncode_prof }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ncode_prof })
        </td>
    </tr>
}

</table>
