@model MarketASP.Models.TIPO_MOVIMIENTO

@{
    ViewBag.Title = "Actualizar Tipo Movimiento";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ncode_timovi)

    <div class="row">
        <div class="col-md-12">
            <h5 class="text-center">@ViewBag.Title</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.sdesc_timovi, "Descripción", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.sdesc_timovi, new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.sdesc_timovi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.stipo_timovi, "Tipo Movimiento", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("stipo_timovi", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ncode_timovi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.binout_tipomovi, "Es Ingreso", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                <span>@Html.EditorFor(model => model.binout_tipomovi) Seleccionar si es Entrada </span>
                                @Html.ValidationMessageFor(model => model.binout_tipomovi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.btransf_tipomovi, "Transferencia", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                <span>@Html.EditorFor(model => model.btransf_tipomovi) Seleccionar si transferira entre almacenes</span>
                                @Html.ValidationMessageFor(model => model.btransf_tipomovi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.besta_tipomovi, "Activo", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.besta_tipomovi)
                                @Html.ValidationMessageFor(model => model.besta_tipomovi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col mb-2">
            <input type="submit" value="Actualizar" class="btn btn-block btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink(" ", "Index", new { }, new { @class = "btn btn-primary fas fa-hand-point-left", title = "Listado" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
