@model MarketASP.Models.ARTICULO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ARTICULO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sdesc1_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdesc1_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sdesc2_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdesc2_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sdescweb_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdescweb_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scode_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scode_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bisc_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bisc_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bafecto_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bafecto_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bivap_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bivap_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bpercepcion_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bpercepcion_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nporpercepcion_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nporpercepcion_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bvenc_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bvenc_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sserie_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sserie_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sobse_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sobse_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nesta_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nesta_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nstockmin_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nstockmin_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nstockmax_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nstockmax_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sabrev_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sabrev_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bdscto_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bdscto_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.spaisOrigen_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.spaisOrigen_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bprocedencia_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bprocedencia_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.suser_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suser_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfech_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfech_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.susmo_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.susmo_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dfemo_arti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dfemo_arti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAMILIA.sdesc_fami)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAMILIA.sdesc_fami)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLASE.sdesc_clase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLASE.sdesc_clase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MARCA.sdesc_marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARCA.sdesc_marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UMEDIDA.sdesc_umed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UMEDIDA.sdesc_umed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ncode_arti }) |
    @Html.ActionLink("Back to List", "Index")
</p>
