@model MarketASP.Models.ARTICULO

@{
    ViewBag.Title = "Detalles";
}

<div>
    <h4>ARTICULO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.scode_arti, "Codigo", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scode_arti)
        </dd>
        <dt>
            @Html.LabelFor(model => model.sdesc1_arti, "Descripción", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdesc1_arti)
        </dd>

        <dt>
            @Html.LabelFor(model => model.sdesc2_arti, "Descripción Alt.", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdesc2_arti)
        </dd>

        <dt>
            @Html.LabelFor(model => model.sdescweb_arti, "Descripción Web", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdescweb_arti)
        </dd>


        <dt>
            @Html.LabelFor(model => model.bisc_arti, "ISC", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            <input type="checkbox" checked="@Model.bisc_arti" readonly />
        </dd>

        <dt>
            @Html.LabelFor(model => model.bafecto_arti, "Afecto", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            <input type="checkbox" checked="@Model.bafecto_arti" readonly />
        </dd>

        <dt>
            @Html.LabelFor(model => model.bivap_arti, "IVAP", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            <input type="checkbox" checked="@Model.bivap_arti" readonly />
        </dd>

        <dt>
            @Html.LabelFor(model => model.bpercepcion_arti, "Percepción", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            <input type="checkbox" checked="@Model.bpercepcion_arti" readonly />
        </dd>

        <dt>
            @Html.LabelFor(model => model.nporpercepcion_arti, "Porcentaje Perc.", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nporpercepcion_arti)
        </dd>

        <dt>
            @Html.LabelFor(model => model.bvenc_arti, "Vencimiento", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            <input type="checkbox" checked="@Model.bvenc_arti" readonly />
        </dd>

        <dt>
            @Html.LabelFor(model => model.sserie_arti, "Serie", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sserie_arti)
        </dd>

        <dt>
            @Html.LabelFor(model => model.sobse_arti, "Observación", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sobse_arti)
        </dd>

        <dt>
            @Html.LabelFor(model => model.nesta_arti, "Activo", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            <input type="checkbox" checked="@Model.nesta_arti" readonly />
        </dd>

        <dt>
            @Html.LabelFor(model => model.nstockmin_arti, "Stock Min", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nstockmin_arti)
        </dd>

        <dt>
            @Html.LabelFor(model => model.nstockmax_arti, "Stock Max", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nstockmax_arti)
        </dd>

        <dt>
            @Html.LabelFor(model => model.sabrev_arti, "Abreviatura", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sabrev_arti)
        </dd>

        <dt>
            @Html.LabelFor(model => model.bdscto_arti, "Dscto", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            <input type="checkbox" checked="@Model.bdscto_arti" readonly />
        </dd>

        <dt>
            @Html.LabelFor(model => model.spaisOrigen_arti, "Pais Origen", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.spaisOrigen_arti)
        </dd>

        <dt>
            @Html.LabelFor(model => model.bprocedencia_arti, "Procedencia", htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @{
                if (Model.bprocedencia_arti == true)
                {
                    <a>Nacional</a>

                }
                else
                {
                    <a>Importado</a>
                }
            }

        </dd>

        <dt>
            <label class="col-md-2 control-label">Familia</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAMILIA.sdesc_fami)
        </dd>

        <dt>
            <label class="col-md-2 control-label">Clase</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLASE.sdesc_clase)
        </dd>

        <dt>
            <label class="col-md-2 control-label">Marca</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARCA.sdesc_marca)
        </dd>

        <dt>
            <label class="col-md-2 control-label">U.Medida</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UMEDIDA.sdesc_umed)
        </dd>

    </dl>
</div>
<div class="row">
    <div class="col-md-6">
        @{
            if (Model.ART_PRECIO != null)
            {
                <h4>PRECIOS</h4>
            }
        }

    </div>
    <div class="col-md-6">
        @{
            if (Model.ART_BARRA != null)
            {
                <h4>COD.BARRAS</h4>
            }
        }
    </div>
    <div class="col-md-6">
        @{
            if (Model.ART_PROVE != null)
            {
                <h4>PROVEEDORES</h4>
            }
        }
    </div>

</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
