@model IEnumerable<MarketASP.Models.ARTICULO>

@{
    ViewBag.Title = "Articulos";
}

<div class="row" style="margin-top:5px">
    <div class="col-md-6 col-sm-6">
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="col-md-6 col-sm-6">
        @Html.ActionLink(" ", "Create", new { }, new { @class = "btn btn-primary glyphicon glyphicon-file", title = "Añadir Articulo" })
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sdesc1_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sdesc2_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sdescweb_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.scode_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bisc_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bafecto_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bivap_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bpercepcion_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nporpercepcion_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bvenc_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sserie_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sobse_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nesta_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nstockmin_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nstockmax_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sabrev_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bdscto_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spaisOrigen_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bprocedencia_arti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FAMILIA.sdesc_fami)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLASE.sdesc_clase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MARCA.sdesc_marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UMEDIDA.sdesc_umed)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sdesc1_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sdesc2_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sdescweb_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.scode_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bisc_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bafecto_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bivap_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bpercepcion_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nporpercepcion_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bvenc_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sserie_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sobse_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nesta_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nstockmin_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nstockmax_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sabrev_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bdscto_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.spaisOrigen_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bprocedencia_arti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FAMILIA.sdesc_fami)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLASE.sdesc_clase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MARCA.sdesc_marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UMEDIDA.sdesc_umed)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ncode_arti }) |
                @Html.ActionLink("Details", "Details", new { id = item.ncode_arti }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ncode_arti })
            </td>
        </tr>
    }

</table>
