@model IEnumerable<MarketASP.Models.ARTICULO>

@{
    ViewBag.Title = "Articulos";
}

<div class="row" style="margin-top:5px">
    <div class="col-md-6 col-sm-6">
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="col-md-6 col-sm-6">
        @Html.ActionLink(" ", "Create", new { }, new { @class = "btn btn-primary glyphicon glyphicon-file", title = "Añadir Articulo" })
    </div>
</div>
<table class="table">
    <tr>
        <th>
            Código
        </th>
        <th>
            Descripción
        </th>
        <th>
            ISC
        </th>
        <th>
            AFECTO
        </th>
        <th>
            IVAP
        </th>
        <th>
            Activo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.ActionLink(item.scode_arti, "Details", new { id = item.ncode_arti })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdesc1_arti)
        </td>
        <td>
            <input type="checkbox" checked="@item.bisc_arti" readonly />
        </td>
        <td>
            <input type="checkbox" checked="@item.bafecto_arti" readonly />
        </td>
        <td>
            <input type="checkbox" checked="@item.bivap_arti" readonly />
        </td>
        <td>
            <input type="checkbox" checked="@item.nesta_arti" readonly />
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.ncode_arti }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-pencil", title = "Editar" })
            @Html.ActionLink(" ", "DeleteArti", new { id = item.ncode_arti }, new { @class = "btn btn-danger btn-sm glyphicon glyphicon-trash", title = "Eliminar", onclick = "return confirm('¿ Seguro de eliminar registro ?');" })
        </td>
    </tr>
    }

</table>
